.container {
	width: 800px;
	margin: 0 auto;
}

.block {
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
	border-radius: 5px;
}

.block h2 {
	margin-top: 0;
	color: #333;
}

.block p {
	margin-bottom: 15px;
	line-height: 1.5;
	text-align: justify;
}

.more {
	display: block;
	text-align: right;
	margin-top: 15px;
	padding: 8px 15px;
	text-decoration: none;
	color: white;
	background-color: #4a6ea9;
	border-radius: 3px;
	width: fit-content;
	margin-left: auto;
}

.more:hover {
	background-color: #3a5a8f;
	text-decoration: none;
}
 
            #screenShotContainer {
                cursor: crosshair;
                left: 0;
                position: absolute;
                top: 0
            }

            #toolPanel {
                background: #fff;
                border-radius: 6px;
                box-sizing: content-box;
                height: 24px;
                left: 0;
                min-width: 392px;
                padding: 6px 14px;
                position: absolute;
                top: 0;
                z-index: 9999
            }

            #toolPanel .item-panel {
                float: left;
                height: 24px;
                margin-right: 15px;
                width: 24px
            }

            #toolPanel .item-panel:last-child {
                margin-right: 0
            }

            #toolPanel .square {
                background-image: url("");
                background-size: cover
            }

            #toolPanel .square-active,#toolPanel .square:active,#toolPanel .square:hover {
                background-image: url("")
            }

            #toolPanel .round {
                background-image: url("");
                background-size: cover
            }

            #toolPanel .round-active,#toolPanel .round:active,#toolPanel .round:hover {
                background-image: url("")
            }

            #toolPanel .right-top {
                background-image: url("");
                background-size: cover
            }

            #toolPanel .right-top-active,#toolPanel .right-top:active,#toolPanel .right-top:hover {
                background-image: url("")
            }

            #toolPanel .brush {
                background-image: url("");
                background-size: cover
            }

            #toolPanel .brush-active,#toolPanel .brush:active,#toolPanel .brush:hover {
                background-image: url("")
            }

            #toolPanel .mosaicPen {
                background-image: url("");
                background-size: cover
            }

            #toolPanel .mosaicPen:hover {
                background-image: url("")
            }

            #toolPanel .mosaicPen-active,#toolPanel .mosaicPen:active {
                background-image: url("")
            }

            #toolPanel .separateLine {
                background-image: url("");
                background-size: cover;
                width: 1px
            }

            #toolPanel .text {
                background-image: url("");
                background-size: cover
            }

            #toolPanel .text-active,#toolPanel .text:active,#toolPanel .text:hover {
                background-image: url("")
            }

            #toolPanel .save {
                background-size: cover
            }

            #toolPanel .save,#toolPanel .save:active,#toolPanel .save:hover {
                background-image: url("")
            }

            #toolPanel .close {
                background-size: cover
            }

            #toolPanel .close,#toolPanel .close:hover {
                background-image: url("")
            }

            #toolPanel .undo,#toolPanel .undo-disabled {
                background-image: url("");
                background-size: cover
            }

            #toolPanel .undo:hover {
                background-image: url("")
            }

            #toolPanel .confirm {
                background-size: cover
            }

            #toolPanel .confirm,#toolPanel .confirm:hover {
                background-image: url("")
            }

            .__screenshot-lock-scroll {
                height: 100%!important;
                margin: 0;
                overflow: hidden!important
            }

            .ico-panel {
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #fff;
                height: 0;
                left: 23px;
                position: absolute;
                top: 0;
                transform: rotate(180deg);
                width: 0;
                z-index: 9999
            }

            .ico-panel img {
                height: 100%;
                width: 100%
            }

            #optionPanel {
                background: #fff;
                border-radius: 5px;
                box-sizing: content-box;
                height: 20px;
                left: 0;
                padding: 10px;
                position: absolute;
                top: 6px;
                z-index: 9999
            }

            #optionPanel .brush-select-panel {
                float: left;
                height: 20px
            }

            #optionPanel .brush-select-panel .item-panel {
                float: left;
                height: 20px;
                margin-right: 18px;
                width: 20px
            }

            #optionPanel .brush-select-panel .item-panel:first-child {
                margin-left: 2px
            }

            #optionPanel .brush-select-panel .item-panel:last-child {
                margin-right: 0
            }

            #optionPanel .brush-select-panel .brush-small {
                background-image: url("")
            }

            #optionPanel .brush-select-panel .brush-small-active,#optionPanel .brush-select-panel .brush-small:active,#optionPanel .brush-select-panel .brush-small:hover {
                background-image: url("")
            }

            #optionPanel .brush-select-panel .brush-medium {
                background-image: url("");
                background-size: cover
            }

            #optionPanel .brush-select-panel .brush-medium-active,#optionPanel .brush-select-panel .brush-medium:active,#optionPanel .brush-select-panel .brush-medium:hover {
                background-image: url("")
            }

            #optionPanel .brush-select-panel .brush-big {
                background-image: url("");
                background-size: cover
            }

            #optionPanel .brush-select-panel .brush-big-active,#optionPanel .brush-select-panel .brush-big:active,#optionPanel .brush-select-panel .brush-big:hover {
                background-image: url("") }

            #optionPanel .right-panel {
                align-items: center;
                display: flex;
                float: left;
                margin-left: 39px
            }

            #optionPanel .right-panel .color-panel {
                background: #fff;
                border: 1px solid #e5e6e5;
                border-radius: 5px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                position: absolute;
                right: 28px;
                top: -225px;
                width: 72px
            }

            #optionPanel .right-panel .color-panel .color-item {
                height: 20px;
                margin-bottom: 5px;
                width: 62px
            }

            #optionPanel .right-panel .color-panel .color-item:first-child {
                background: #f53440;
                margin-top: 5px
            }

            #optionPanel .right-panel .color-panel .color-item:nth-child(2) {
                background: #f65e95
            }

            #optionPanel .right-panel .color-panel .color-item:nth-child(3) {
                background: #d254cf
            }

            #optionPanel .right-panel .color-panel .color-item:nth-child(4) {
                background: #12a9d7
            }

            #optionPanel .right-panel .color-panel .color-item:nth-child(5) {
                background: #30a345
            }

            #optionPanel .right-panel .color-panel .color-item:nth-child(6) {
                background: #facf50
            }

            #optionPanel .right-panel .color-panel .color-item:nth-child(7) {
                background: #f66632
            }

            #optionPanel .right-panel .color-panel .color-item:nth-child(8) {
                background: #989998
            }

            #optionPanel .right-panel .color-panel .color-item:nth-child(9) {
                background: #000
            }

            #optionPanel .right-panel .color-panel .color-item:nth-child(10) {
                background: #feffff;
                border: 1px solid #e5e6e5
            }

            #optionPanel .right-panel .color-select-panel {
                background: #f53340;
                border: 1px solid #e5e6e5;
                height: 20px;
                width: 62px
            }

            #optionPanel .right-panel .pull-down-arrow {
                background-image: url("");
                background-size: cover;
                height: 8px;
                margin-left: 10px;
                width: 15px
            }

            #cutBoxSizePanel {
                align-items: center;
                background: rgba(0,0,0,.4);
                border-radius: 3px;
                color: #fff;
                display: flex;
                font-size: 14px;
                height: 25px;
                justify-content: center;
                width: 85px
            }

            #cutBoxSizePanel,#textInputPanel {
                left: 0;
                position: absolute;
                top: 0;
                z-index: 9999
            }

            #textInputPanel {
                border: none;
                box-sizing: border-box;
                font-weight: 700;
                margin: 0;
                min-height: 20px;
                min-width: 20px;
                outline: none;
                padding: 0
            }

            .hidden-screen-shot-scroll {
                height: 100vh;
                overflow: hidden;
                width: 100vw
            }
     